@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #374151;
    --ring-color: #000000;
    color: var(--foreground);
  }

  :root[class~="dark"] {
    --background: linear-gradient(0deg, #1b1f31, #203752);
    --foreground: #f3f4f6;
    --ring-color: #ffffff;
    color: var(--foreground);
  }
}

::selection {
  background-color: #b58900;
  color: white;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 1s ease, color 1s ease;
}